@media only screen and (min-width: 32.5em) {
 
  h1 {
    font-size: 2.5rem;
  }  
  
  h2 {
    font-size: 1.5rem;
  }

  header, footer {
    border-radius: 10px;
    width: 100%;
    margin: 0 auto;
  }

  header {
    position: relative;
  }

  header img {
    position: absolute;
    top: .7em;
    right: .7em;
    box-shadow: 0 0 3px grey;
    border-radius:0 10px 0 0;
    margin: .25rem 1rem 0 0;
  }

  
}