/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=PT+Serif%7CRoboto&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  /* margin: 1em auto 1em auto; */
  display: grid;
  grid-template-rows: ;
}

header, footer, main {
  width: 100%;
  margin: 0 auto;
  padding-top: .75rem;
  max-width: 45rem;
}

header, footer {
  background-color: blue;
  overflow: visible;
  color: white;
  text-align: center;
}


footer {
  font-size: .75rem;
  position: fixed;
  /**left: calc(50% - 22.5rem);*/
  bottom: 0;
  width: 100%;
}

footer p {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: .5rem;
}


footer a {
  color: white;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', serif;  
}

h1 {
  font-size: 1.5rem;
  margin: 0.15rem;
}

h2 {
  border-bottom: 2px solid black;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}
header img {
  width: 100px;
  height: auto;
  border-radius: 8px;
}

span#sub {
  font-size: 1rem;
}

h5.advantage {
  color: blue;
}

h5.warning {
  color: red;
}

dt {
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-weight: 600;
  text-decoration: underline;
}

dl {
  padding: 15px;
}

section.card,
section.functions.card,
section.array.card {
  background-color: antiquewhite;
  box-shadow: 4px 4px 6px grey;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  padding-left: 1rem;
}

section.array p,
section.array code {
  padding: 1rem;
}

section.array code {
  color: orangered;
  font-weight: 600;
  overflow: hidden;
}

div.code {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#arrayAddBtn {
  margin: 1rem;
}

span.command {
  text-decoration: underline;
  font-weight: 600;
}

h2.return {
  text-align: center;
  padding-bottom: 2rem;

}

.centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 45rem;
}
/******* Navigation area *******/
/*********************************/
nav {
  margin: auto;
	background-color: #3c3c3b;
	text-align: center;
  /* padding: .5em; */
}
.navigation {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

nav ul li a {
	display: block;
	color: #ebebd3;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}

nav a:hover {
	background-color: #bbb;
	color: #36454f;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

nav ul li a.active {
  color: #f5d547;
}

.responsive li {
	display: block;
}

.topics li {
  text-decoration: dotted;
}


#lastMod {
  color: yellow;
}